:root {
  --mainWhite: #fff;
  --mainBlack: #000;
  --primary: #580a1f;
  --secondary: rgb(249, 228, 148);
  --bgHome: rgba(226, 224, 215, 0.5);
  --bgStore: rgb(92, 9, 117);
  --bgMain: rgb(54, 54, 54);
}
